body {
	font-family: Raleway, Arial;
}

h1, h2, h3 {
	font-weight: 200;
	text-transform: uppercase;
	text-align: center;
}

h1 {
	font-size: 3em;
}
h2 {
	font-size: 2em;
}

a {
	text-decoration: none;
	color: inherit;
}

@media (min-width: 1200px) {
	.inner-container,
	section.content,
	.footer-wrapper * {
		width: 1190px;
		margin-right: auto;
		margin-left: auto;
	}
}

/**
 * Navigation
 **/

div.navbar, 
div.title {
	background-color: #000;
	text-transform: uppercase;
	padding: 0.5em;
	color: white;
	text-align: center;
}

ul.navbar-nav {
	list-style: none;
}

ul.navbar-nav li {
	display: inline-block;
}
ul.navbar-nav li a {
	padding: 8px;
}
ul.navbar-nav li a:hover {
	border-bottom: 2px solid #C0CE00;
}

/**
 * Title
 **/

 div.title {
	 padding: 1em;
 }

 div.title h1, 
 div.title h2 {
	 margin: 0;
 }

 div.title h2 {
	 font-size: 1em;
 }

/**
 * Content
 **/

 section.content .part h3 {
	 font-size: 1.1em;
	 text-align: center;
 }
 section.content .part p {
	 font-size: 0.9em;
	 text-align: center;
 }

 @media (min-width: 768px) {
	section.content .part {
		width: 31%;
		height: 250px;
		margin: 1%;
		float: left;
		overflow: hidden;
	}

	section.content::after {
		display: block;
		content: "";
		clear: both;
	}
 }


@media (max-width: 767px) {
	section.content .part {
		width: 100%;
	}
}


/**
 * Footer
 **/

.footer-wrapper {
	background: #ebebe7;
	padding: 1em;
}
